.navbar {
    background-color: #003b58;
    height: 75px;
}

.nav-image {
    position: relative;
    width: 170px;
    left: 15px;
    max-height: 50px; /* height of the navbar */
}

.jumbotron-fluid {
    min-height: 40%; /* Fallback for browsers do NOT support vh unit */
    min-height: 40vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

#siteHeader {
    text-align: center;
}

@media screen and (max-width: 550px) {
    .navOnboarding {
        display: none;
    }
}

.child {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all .5s;
}

.parent:hover .child,
.parent:focus .child {
    transform: scale(1.2);
}

#canvas {
    padding: 0;
}

#beginbtn {
    text-align: center;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.icon {
    width: 140px;
    height: 140px;
}

#mincircle {
    min-height: 10px;
}
/*#lowerSection{
    padding:20px;
}*/

#dropdownLinkLabel {
    color: #115e7f;
}

    #dropdownLinkLabel:hover {
        color: #1babe0;
    }

.testdiv {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#home-image {
    border-radius: 50%;
    max-height: 302px;
}

#home-links {
    padding: 40px;
    text-align: center;
}

    #home-links h2 {
        height: 80px;
    }

#home-link-info {
    height: 80px;
}


.navbar {
    min-height: 50px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

#login_jumbo {
    text-align: center;
}

.btn {
    background-color: #18ABE3;
    color: #FFFFFF;
}

    .btn:hover {
        background-color: #343A40;
        color: #FFFFFF;
    }

#privacyCheckbox {
    margin-left: 280px;
    margin-top: 35px;
    transform: scale(1.4,1.4);
}

.justify-text {
    text-align: justify;
}

.card-img-top {
    margin-top: 20px;
    max-height: 200px;
    max-width: 200px;
    align-content: center;
    resize: inherit;
}

.card-body {
    text-align: center;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-container {
    max-width: 75%;
    max-height: 75%;
}

boldPipes {
    font-weight: bolder;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

    .iframe-container iframe {
        border: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        height: 504px !important;
    }

iframe {
    width: 100%;
    height: 450px !important;
}


/*N*/
body {
    background-color: #f3f7fa;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*
    TEST NAV
*/
.new-single-page-display {
    /*background-color: palegreen;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 7.5%;
    padding: 2px;
    padding-bottom: 0px !important;
    margin-top: 43px !important;
}

.new-single-page-nav {
    /*background-color: paleturquoise;*/
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 745px;
}

.new-single-page-nav-useful-info {
    border: 1px solid #e0dfe1;
    background-color: white;
    flex-grow: 1;
    padding: 0 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.new-single-page-content {
    /*background-color: palevioletred;*/
    position: relative;
    border: 1px solid #e0dfe1;
    width: calc(100% - 320px);
    max-height: 745px;
    padding: 12px 25px 10px 25px;
}

.new-single-page-nav ul {
    border: 1px solid #e0dfe1;
    list-style: none;
    padding: 0 10px;
}

    .new-single-page-nav ul:last-child {
        justify-content: space-around;
        flex-grow: 1;
    }

        .new-single-page-nav ul:last-child li {
            height: 45px;
        }

.new-single-page-nav .collapse, .new-single-page-nav .collapsing {
    border: none;
}

.new-single-page-nav li, .useful-info-li {
    border-bottom: 1px solid #e0dfe1;
    color: #115e7f;
    cursor: pointer;
    font-family: neue-haas-unica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    text-decoration: underline;
    width: 100%;
}

    .new-single-page-nav li:first-child {
        border-radius: 10px 10px 0 0;
    }

    .new-single-page-nav li input, .useful-info-li input {
        display: none;
        float: right;
    }

    .new-single-page-nav li:hover, .useful-info-li:hover {
        color: #1babe0 !important;
    }

    .new-single-page-nav li input:checked, .useful-info-li input:checked {
        display: block;
    }

    .new-single-page-nav li img, .useful-info-li img {
        width: 24px;
        height: 24px;
        float: right;
    }

.new-single-page-content, .new-single-page-nav ul {
    background-color: white;
    border-radius: 4px;
    overflow-y: auto;
}

.new-single-page-content {
    overflow: auto;
}

.new-single-page-content-scroll {
    padding: 12px 25px 10px 25px;
    max-height: 637px;
}

.new-single-page-content-scroll {
    padding: 12px;
    overflow-y: scroll;
}




/*
    CUSTOM STYLES
*/

.breadcrumbs {
    font-size: 14pt;
    color: #115e7f;
}

    .breadcrumbs:hover {
        color: #1babe0 !important
    }

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: grey;
    }

.navOnboarding {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 8px 0px 5px 25px;
    font-weight: lighter;
}

#bottomListItem {
    border-bottom: none;
}

.containerHeading {
    padding: 3px 0px 0px 10px;
}

/*Info Security Page*/
#infoSecurityImg {
    margin-top: 5px;
    border: 0.5px solid #757576;
    padding: 5px;
}

#securityTextIcons {
    border: 0.5px solid #757576;
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
}

#securityInfoSec {
    padding: 5px 0px 0px 25px
}

/* Css for partial view toggle */

.targetDiv {
    display: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #1A1A1A;
    line-height: 58px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #3B3B3B;
    line-height: 48px;
}

h3 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #292E3E;
    line-height: 38px;
}

h4 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #47474C;
    line-height: 30px;
}

    h4.light {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #838383;
        line-height: 30px;
    }

p, li {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #747376;
    line-height: 24px;
}

    p.bold {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #47474C;
        line-height: 24px;
    }

    p.minor {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #747376;
        line-height: 18px;
    }

    p.minor-bold {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #47474C;
        line-height: 18px;
    }

#busAreaBorder {
    border: 2px solid #1babe0;
    border-radius: 25px;
}

.busAreaText {
    color: #0b506c;
}

.card-img-top {
    height: auto;
    width: auto;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

    input[type='checkbox']:checked {
        background: #abd;
    }

.siteInfoHeading {
    font-weight: bold;
    color: #2a2d34;
}

.busAreaImg {
    border: 1px solid #757576;
    border-radius: 7px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 173px;
    width: 204px;
}

.hoverCard {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

    .hoverCard:hover {
        transform: scale(1.02);
    }

.daeraHoverCard {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

    .daeraHoverCard:hover {
        transform: scale(1.02);
    }

.digServImg {
    border-radius: 10px;
    border: 1px solid #757576;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1px;
    border-radius: 10px;
}

    .digServImg:hover {
        transform: scale(1.02);
    }

.digServCard {
    padding: 4px;
    border-radius: 10px;
}

.modalSubHead {
    font-size: 18px;
    color: #0b506c;
}

.busAreaHeader {
    font-size: 17.5px;
}

.onboardingbutton {
    transform: scale(0.9);
}

.busButton {
    height: 30px;
    width: 70px;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 0px;
}

.showSingle {
    text-decoration: none !important;
}

/* Site Information Carousel */

.carousel {
    border-radius: 12px;
    overflow: hidden;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 33em;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
    }

.carousel .carousel-control {
    border-radius: 12px;
    overflow: hidden;
}
/* RESPONSIVE CSS */

@media (min-width: 100em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block !important;
}

#isuOList {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#isuUList {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.digServCardHead {
    color: #1babe0;
    font-size: 19px;
}

#DAERAList {
    color: #115e7f;
}

    #DAERAList:hover {
        color: #1babe0;
    }

#CompanyRelationsListItem {
    color: #115e7f;
}

    #CompanyRelationsListItem:hover {
        color: #115e7f;
    }

#OrgList {
    color: #115e7f;
}

    #OrgList:hover {
        color: #1babe0;
    }

#InfoSecList {
    color: #115e7f;
}

    #InfoSecList:hover {
        color: #1babe0;
    }

#HealthList {
    color: #115e7f;
}

    #HealthList:hover {
        color: #1babe0;
    }

#FireList {
    color: #115e7f;
}

    #FireList:hover {
        color: #1babe0;
    }

#itSpecific {
    border-bottom: none;
}

#daeraBottomList {
    border-bottom: none;
}

#DSDOrgList {
    border-bottom: none;
}

#healthCourseList {
    border-bottom: none;
}

#fireCourseList {
    border-bottom: none;
}

#progressBarOne {
    background-color: #1babe0;
}

.alignButtons {
    position: absolute;
    bottom: 10px;
}

.IntroHeading {
    font-size: 55pt;
}

.training-course-images {
    width: 40%;
    height: auto;
}

.policyCards {
    max-width: 90%;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #OrganisationalStructureListItem li {
        border-bottom: 1px;
        margin-bottom: 11px;
    }

    .new-single-page-nav {
        width: 20%;
    }

    .new-single-page-content {
        width: 90%;
        margin-left: 10px;
        margin-right: -85px;
    }

    .new-single-page-display {
        padding-left: 0;
        margin-left: 20px;
    }

    .completedPage {
        margin-top: 50px !important;
    }
}

@media screen and (max-width: 1199px) {
    .new-single-page-display {
        flex-wrap: wrap;
    }

    .new-single-page-nav, .new-single-page-content {
        width: 100%;
    }

    .sizingFix {
        min-height: 500px;
    }

    .test123 {
        color: red;
    }
}

@media screen and (max-width: 1300px) {

    .sizingFix {
        min-height: 66px;
    }

    .test123 {
        color: red;
    }
}

@media screen and (max-width: 550px) {
    .new-single-page-display {
        margin: 10px 2.5%;
    }

    .alignButtons {
        position: static !important;
    }

    .IntroHeading {
        font-size: 25pt;
        margin-bottom: -40px;
    }

    .test123 {
        color: red;
    }

    .sizingFix {
        min-height: 500px;
    }
}

.open-button {
    background-color: #FFFFFF00;
    color: #17ABE3;
    padding: 5px 5px;
    border-width: 2px;
    border-color: #17ABE3;
    border-style: solid;
    cursor: pointer;
    position: fixed;
    bottom: 3%;
    right: 148px;
    width: 190px;
    height: 60px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    width: 40.3%;
    height: 82%;
    bottom: 2%;
    top: 17%;
    left: 52.1%;
    border: 2px solid #114B6A;
    z-index: 9;
    overflow-y: auto;
    background: #FFFFFF;
}

/* Add styles to the form container */
.form-container {
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    background: #FFFFFF;
    opacity: 1;
}

/* Formatting for the main content of the form */
.body-form-content {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    height: 99%;
    font-size: 15pt;
    color: #114B6A;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* Dropdown form control formatting */
.feedback-dropdown {
    background: #FFFFFF;
    border: 2px solid #114B6A;
    border-radius: 2px;
    font-size: 14pt;
    width: 250px;
    height: 40px;
    font: normal 13px Helvetica;
    color: #114B6A;
}

/* Formatting for the submit button */
.form-submit-button {
    width: 220px;
    height: 50px;
    top: 939px;
    margin-left: 59%;
    margin-top: 3%;
    background: #17ABE3;
    opacity: 1;
    color: white;
    border-color: none;
    border-radius: 4px;
}

.submit-span {
    color: #FFFFFF;
    opacity: 0.85;
}

/* Formatting for comments  */
.textBoxFormatting {
    border-color: #114B6A;
    border-style: solid;
    width: 100%;
    height: 20%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 2%;
    text-align: left;
    font: bolder 12px Helvetica;
    letter-spacing: 0;
    color: #0D2735;
    opacity: 1;
}

input[type=radio] {
    transform: scale(1.25);
}

.feedback-accordion {
    transform: rotate(-90deg);
    width: 120px;
    height: 30px;
    border-color: none;
    padding: 0px 0px 0px 0px;
    border-color: transparent;
    z-index: 9;
    transition-delay: 0s;
    transition-duration: 0.05s;
}

.thumbs-up-down {
    width: 120px;
    height: 120px;
    margin-left: 70px;
    margin-right: 40px;
    background-color: #FFFFFF;
    border-color: none;
    border-width: 3px;
    color: #1BABE0;
    transform: translateY(-62%);
    z-index: 8;
    text-align: center;
}

    .thumbs-up-down a {
        color: #1BABE0;
    }

        .thumbs-up-down a:hover {
            color: #08668f;
            text-decoration: none;
        }

.feedbackDiv {
    position: absolute;
    top: 40%;
    right: -2.2%;
}

.commentTextCss {
    font: normal 16px Helvetica;
    color: #114B6A;
}

.maxCharactersCss {
    color: #808286;
    font: bolder 14px Helvetica;
}

.radioLabelCss {
    text-align: left;
    font: normal 14px Helvetica;
    letter-spacing: 0;
    color: #114B6A;
    opacity: 1;
}


/* Quill Style Section */
.setQuillHere {
    height: 300px !important;
}


.quillTranslateWrapper > .ql-toolbar {
    display: none;
}

.quillTranslateWrapper > .quillTranslate {
    border: none !important;
}

.quillImageWrapper > .setQuillImageHere {
    display: none
}

.quillImageWrapper {
    margin: auto;
}

.quillImageStyle {
    margin: auto
}

.submitNeuedaIntroPage {
    width: 220px;
    height: 50px;
    margin-top: 3%;
    background: #17ABE3;
    opacity: 1;
    color: white;
    border-color: none;
    border-radius: 4px;
}


.tagErrorAlert {
    display: grid;
}

.tagError {
    background-color: rgba(255, 10, 10, 0.57);
    border-color: purple !important;
}

#jsNotifier {
    position: absolute;
    top: 70px;
    right: 50px;
}
